/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
}

.title {
  color: #ffffff;
}

.cards-container {
  display: flex;
  margin-left: 200px;
}

.card-container {
  margin-right: 200px;
}

.button-name {
  background-color: #ffffff;
  color: #dd1264;
  border-width: 0;
  border-radius: 7px;
  height: 30px;
}

.name-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fddddb;
  height: 100px;
  width: 200px;
  border-radius: 9px;
  align-items: center;
}
